<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        {{partial "header.html" . }}
        {{partial "submenu.html" . }}

            {{range .Pages}}
            {{if ne .Type "selection2"}}
            {{partial "list_posts.html" . }}
            {{end}}
            {{end}}

            {{partial "select_post.html" . }}

        {{block "footer" . }}
        {{partial "footer.html" . }}
        {{end}}

    </body>
</html>