<link rel="stylesheet" href="/css/box_email.css">

<form action="MAILTO:gridcon@gridcon.de" method="post" enctype="text/plain" style="line-height: 150%; margin-left: 10%;">

    <div class="row">
      <div class="col-25">
        <label for="fname">Vorname</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="vorname" placeholder="Ihre Vorname.." style="width: 92%;">
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="lname">Nachname</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="nachname" placeholder="Ihre Nachname.." style="width: 92%;" required="required">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="company">Firma</label>
      </div>
      <div class="col-75">
        <input type="text" id="company" name="firma" placeholder="Ihre Firma.." style="width: 92%;">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="email">Email</label>
      </div>
      <div class="col-75">
        <input type="text" id="email" name="email" placeholder="Ihre E-mail Address.." style="width: 92%;">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="tel">Telefon</label>
      </div>
      <div class="col-75">
        <input type="text" id="tel" name="telefon" placeholder="Ihre Telefon Nummer.." style="width: 92%;">
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="subject">Subject</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="nachrichten" placeholder="Write something.." style="height:200px; width: 92%;"></textarea>
      </div>
    </div>
    <div class="row" >
      <input type="submit" value="SENDEN" style="background-color: chocolate; color: white; border: none;">
    </div>
    </form>