<link rel="stylesheet" href="/css/footer.css">

<style>
    @media screen and (max-width: 600px) {
        footer.footer div.handyfooter {
            text-align: center;
            
        }
    }
</style>
<hr class="hr" style="width:inherit;">
    <footer class="footer" >
        <div class="handyfooter" style="margin-left: 10%;margin-right: 10%;">
        
 
        <a class="p1" href="/impressum">Impressum</a>
 
         &nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
 
        <a class="p1" href="/kontakt" >Kontakt</a>

        <a class="p2">GridCon Consulting GmbH, 2022</a>
        <br>
        <br>
    </div>
    </footer>
